#Intro{
    height: calc(100vh-4.5rem);
    width: 100vw;
    max-width: 85rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bg{
    position: absolute;
    top: -4rem;
    right: -5vw;
    z-index: -1;
    object-fit: cover ;
    height: 100vh;
}
.IntroContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-weight: 300;
    font-size: 1.5rem;
}
.IntroName{
    color: orange;
}
.IntroPara{
    font-size: medium;
    font-weight: 400;
}
.btn{
    margin: 1rem 0;
    border-radius: 2rem;
    text-align: center;
}
.btn>a{
text-decoration: none;
}
.res{
    font-size: 1.75rem;
    font-weight: 300;
    padding: 0.45rem 0.75rem;
    color: black;
}
@media screen and (max-width:840px){
    .bg{
        right:-15vw ;
    }
    .IntroContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw ;
    }
}
@media screen and (max-width:480px){
    .bg{
        right:-35vw ;
    }
}